:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --bg: #242424;
  --primary: #ffbf00;
  --success: #70BF22;
  --success-dark: #21821C;
  --closed: #96BFEC;
  --closed-dark: #344D88;
  --waitlist: #FFCC34;
  --waitlist-dark: #BE7D0E;
}

a {
  font-weight: 500;
  color: #8d92ff;
  text-decoration: inherit;
}
a:hover {
  color: #646cff;
}

html, body, #app {
  height: 100%;
  width: 100%;
}

body, #app {
  margin: 0;
  display: flex;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
.number {
  color: #999;
  font-weight: normal;
  font-size: 0.75em;
}

.chip {
  border: 2px solid grey;
  padding: 5px;
  border-radius: 10px;
  font-size: unset;
  position: relative;
  cursor: pointer;
  user-select: none;
}
.chip.active {
  border-color: var(--primary);
  background-color: #8d6a00;
}

.roundBtn {
  z-index: 2;
  line-height: 0;
  padding: 10px;
  font-size: 30px;
  border-radius: 100%;
  background-color: transparent;
}
.roundBtn:hover {
  background-color: #555;
  border-color: #888;
}
.roundBtn:focus-visible, .roundBtn:focus {
  background-color: #777;
  border-color: #999;
  outline: none;
}

.dangerBtn {
  background-color: darkred;
  line-height: 0;
  border: none;
}
.dangerBtn:hover {
  background-color: red;
}

.borderBtn {
  background-color: transparent;
  border-color: grey;
}

.borderBtn:hover {
  background-color: #333;
}

hr {
  width: 100%;
  border-color: #777;
  border-style: solid;
  border-radius: 2px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: white;
  cursor: pointer;
  transition: border-color 0.1s, background-color 0.1s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

header.mobileHeader {
  position: sticky;
  bottom: 80px;
  z-index: 10;
  margin-top: 100px;
  width: 100%;
  background-color: #111;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);

  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

@media screen and (min-width: 1000px) {
  .mobileHeader {
    display: none !important;
  }
  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
  ::-webkit-scrollbar-track {
    background: #333;
  }
  ::-webkit-scrollbar-track:hover {
    background: #444;
  }
  ::-webkit-scrollbar-thumb {
    background: #ccc;
  }
  ::-webkit-scrollbar-thumb {
    background: #eee;
  }
}